{% extends "partials/layout.njk" %}
{% block title %}Home{% endblock %}
{% block content %}
    {% include "partials/pagination.njk" %}
    <div class="row mb-2">
        {% for post in posts %}
            <div class="col-3 mt-2">
                <div class="card h-100">
                    {# <img src="..." class="card-img-top" alt="..."> #}
                    <div class="card-body">
                        <h5 class="card-title">{{post.title}}</h5>
                        <p class="card-text">{{post.snippet()}}...</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}