{% extends "partials/layout.njk" %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1>Hello TA22E!!!!</h1>
    <a href="/answer?page=3&order=asc">page</a>
    <form action="/answer?page=3&order=asc" method="POST">
        <input type="text" placeholder="Name" name="name">
        <input type="number" placeholder="Age" name="age">
        <input type="submit">
    </form>
    <ul>
        {% for i in range(0,10) %}
            {% if i%2 %}
                <li>{{ i }}</li>
            {% else %}
                <li style="background-color: gray;">{{i}}</li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}